<div class="comment-wrapper">
  <div class="comment-container">
    <%= render 'shared/error_messages', object: @comment %>
    <div class="comment-new">
    <div class="comment">
      <%= form_for(@comment) do |f| %>
        <%= hidden_field_tag :discovery_id, @comment.discovery_id %>
        <%= hidden_field_tag :forcomment_id, @comment.forcomment_id %>
        <%= f.text_area :content, class: "comment-area", placeholder: "コメントをしよう！" %>
        <%= f.submit "post", class: "comment-btn" %>
      <% end %>
    </div>
    </div>
  </div>
</div>
<footer></footer>
