<% @comments.each do |c| %>
    <div class="discovery come">
      <div class="comment-partner">
        <% if c.discovery.present? %>
        <%= link_to "@#{c.discovery.user.acount_id}への返信", user_path(c.discovery.user), class: "comment-partner-link" %>
        <% else %>
        <%= link_to "@#{c.forcomment.user.acount_id}への返信", user_path(c.forcomment.user), class: "comment-partner-link" %>
        <% end %>
      </div>
      <%= link_to(user_path(c.user), id: "discovery-profile-link",) do %>
      <div class="discovery-profile">
        <% if c.user.image.attached? %>
          <%= image_tag c.user.image.variant(resize_to_fill: [40, 40]), class: "image d-image" %>
        <% else %>
          <%= image_tag 'no-user.png', :size => '40x40', class: "no-image d-image" %>
        <% end %>
        <% if c.user.name %>
          <div class="discovery-profile-name come-name">
            <%= c.user.name %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to(comment_path(c), id: "comment-content-link") do %>
    <div class="comment-content discovery-index-content">
      <%= safe_join(c.content.split("\n"), tag(:br)) %>
      <div class="create-date">
        <%= l c.created_at %>
      </div>
    </div>
  <% end %>

  <% if logged_in? %>
    <div id="favorite-comment-<%= c.id %>">
      <% if current_user.favorite_comment?(c) %>
        <%= render "shared/unfavorite_come", {object: c, comment: "comment"} %>
      <% else %>
        <%= render "shared/favorite_come", { object: c, comment: "comment"} %>
      <% end %>
    </div>

    <%= link_to(new_comment_path(params: {forcomment_id: c.id}), class: "comment-view") do %>
    <i class="fa fa-comment"></i>
    <span class="comment-count"><%= c.forcomments.count %></span>
  <% end %>

<% end %>

</div>
<% end %>
