<% provide(:title, "フォロー中のユーザー") %>

  <div class="following-wrapper">
    <div class="following-container">
      <div class="following-user">
        <% @user.following.each do |f| %>
          <div class="following">
            <%= link_to(user_path(f), id: "following-user-link") do %>
            <div class="following-user-image">
              <% if f.image.attached? %>
                <%= image_tag f.image.variant(resize_to_fill: [60, 60]), class: "image following-img" %>
              <% else %>
                <%= image_tag 'no-user.png', :size => '60x60', class: "image following-img" %>
              <% end %>
            </div>
            <div class="following-user-id">
              <%= f.acount_id %>
            </div>
            <div class="following-user-name">
              <% if f.name %>
                <%= f.name %>
              </div>
            <% end %>
          <% end %>
          <% unless current_user == f %>
            <% if current_user.following?(f) %>
              <div class="following-form">
                <%= render "unfollow", {object: f, page: "following", user_id: @user.id, follow_view: "f-unfollow"} %>
              </div>
            <% else %>
              <div class="following-form">
                <%= render "follow", {object: f, page: "following", user_id: @user.id, follow_view: "f-follow"} %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<footer></footer>
