  <%= form_for(current_user.favorites.new, remote: true) do |f| %>
  <%= hidden_field_tag :comment_id, object.id %>
  <%= hidden_field_tag :comment, comment %>
  <%= f.button :type => "submit", style: 'border-style: none;', class: "i-favo" do %>
  <i class="fa fa-star"></i>
  <span class="favorite-count"><%= object.favorites.count %></span>
  <% end %>
  <% end %>
