<% provide(:title, "discovery一覧") %>

  <div class="discovery-index-wrapper">
    <div class="discovery-index-container">
      <div class="discovery-index">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :content_cont, placeholder: "投稿を検索" %>
          <%= f.button :type => "submit", class: "search-button" do %>
            <i class="fa fa-search"></i>
          <% end %>
        <% end %>
        <%= render "shared/discoveries" %>
        <%= link_to "投稿する", new_discovery_path, id: "discovery-new-link" %>
      </div>
    </div>
  </div>

<%= render "shared/footer" %>
