<% provide(:title, 'Create') %>

<div class="new-wrapper">
    <%= render 'shared/error_messages', object: @discovery %>
  <div class="discovery-new-contaienr">
    <div class="error_explanation">
    </div>
    <div class="discovery-form">
      <%= form_for(@discovery) do |f| %>
        <%= f.label :content, "Post anything you notice!", class: "content-form-label" %>
        <%= f.text_area :content, class: "content-form", placeholder: "Please write it here" %>
        <%= f.submit "Post", class: "create-link" %>
      <% end %>
    </div>
  </div>
</div>
