<% provide(:title, "詳細") %>

  <div class="discovery-show-wrapper">
    <div class="discovery-show-container">
      <div class="discovery-show">
        <div class="disc">
          <%= link_to(user_path(@discovery.user), id: "discovery-profile-link") do %>
            <% if @discovery.user.image.attached? %>
              <div class="discovery-profile">
                <%= image_tag @discovery.user.image.variant(resize_to_fill: [40, 40]), class: "image d-image" %>
                <% if @discovery.user.name %>
                  <p class="discovery-profile-name">
                    <%= @discovery.user.name %>
                  </p>
                <% end %>
              </div>
            <% else %>
              <div class="discovery-profile">
                <%= image_tag 'no-user.png', :size => '40x40', class: "no-image d-image" %>
                <% if @discovery.user.name %>
                  <p class="discovery-profile-name">
                    <%= @discovery.user.name %>
                  </p>
                <% end %>
              </div>
            <% end %>
          <% end %>
            <div class="discovery-show-content">
              <%= safe_join(@discovery.content.split("\n"), tag(:br)) %>
            </div>
            <div class="create-date">
              <%= l @discovery.created_at %>
            </div>

            <% if logged_in? %>
              <div id="favorite-<%= @discovery.id %>">
                <% if current_user.favorite?(@discovery) %>
                  <%= render "shared/unfavorite", object: @discovery %>
                <% else %>
                  <%= render "shared/favorite", { object: @discovery } %>
                <% end %>
              </div>
              <%= link_to(new_comment_path(params: { discovery_id: @discovery.id} ), class: "comment-view") do %>
              <i class="fa fa-comment"></i>
              <span class="comment-count"><%= @discovery.comments.count %></span>
            <% end %>
          <% end %>

          <% if current_user == @discovery.user %>
            <%= link_to "削除する", discovery_path(@discovery), method: :delete, data: {confirm: "削除しますか？"}, class: "dis-delete-link" %>
          <% end %>
        </div>

        <% if @comments %>
          <p class="comment-logo">
            
          </p>
          <%= render "shared/comments" %>
        <% end %>
      </div>
    </div>
  </div>
<%= render "shared/footer" %>
