<!DOCTYPE html>
<html>
  <head>
    <title>Toeic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo-title">
          <span>TOEIC Hiroba</span>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
