<!DOCTYPE html>
<html>
  <head>
    <title>Toeic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'flash', defer: "defer" %>

    <title><%= full_title(yield(:title)) %></title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <div class="logo-title">
          <span>ELH</span>
      </div>
          <% if logged_in? %>
            <div id="side_menu_zone"></div>
            <%= javascript_pack_tag 'menu', defer: "defer" %>
          <% end %>
    </header>
    <div id="flash_info">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: key, id: "info", "v-if" => "timerInfo") %>
    <% end %>
  </div>
      <%= yield %>
  </body>
</html>
